<form [formGroup]="form">
  <div class="form-group">
    <div formGroupName="address">
      <h3>Address</h3>

      <label>
        Street:            
      </label>
      <input class="form-control" type="text" formControlName="street">

      <label>
        City:
      </label>
      <input class="form-control" type="text" formControlName="city">

      <label>
        State:
      </label>
      <input class="form-control" type="text" formControlName="state">

      <label>
        Zip Code:
      </label>
      <input class="form-control" type="text" formControlName="zip"> 

    </div>
  </div>
</form>