<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" type="text" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label>
          Last Name:
        </label>
        <input class="form-control" type="text" formControlName="lastName">

      </div>
      <div class="form-group">
        <div formGroupName="address">
          <h3>Address</h3>

          <label>
            Street:            
          </label>
          <input class="form-control" type="text" formControlName="street">

          <label>
            City:
          </label>
          <input class="form-control" type="text" formControlName="city">

          <label>
            State:
          </label>
          <input class="form-control" type="text" formControlName="state">

          <label>
            Zip Code:
          </label>
          <input class="form-control" type="text" formControlName="zip"> 

        </div>
      </div>
      <div class="form-row">
        <div formArrayName="aliases">
          <h3>Aliases</h3> <button class="btn btn-success" (click)="addAlias()">Add Alias</button>
          <div *ngFor="let address of aliases.controls; let i=index">
            <!-- The repeated alias template -->
           <div class="form-group">
              <label>Alias:</label>
              <input class="form-control" type="text" [formControlName]="i">  
           </div>
           <div class="form-group">
              <button class="btn btn-danger" (click)="deleteAlias(i)">delete</button>
           </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
  <div class="col">
    <p>
      Form Value: {{ form.value | json }}
    </p>
    <p>
      Form Status: {{ form.status }}
    </p>

    <p>
      <button class="btn btn-dark" (click)="updateProfile()">Update Profile</button>
    </p>
  </div>
</div>